<div style="margin: 10px; width:990px">
	<div class="navbar">
		<a href="#!/home"><img src="imgs/header_logo_500.png" style="height:100px"/></a>
		<div style="margin:5px;float: right !important">
			<img ng-class="selectedCard.cardType"/>
		</div>
	</div>
	<div  style="float: left; ;">
		<ul class="menu">
			<li><a href="#!/home">Credit Cards</a></li>
			<li><a href="#!/activity">Activity</a></li>
			<li><a href="#!/receipts">Disputes</a></li>
			<li><a href="#!/settings">Settings</a></li>
		</ul>
	</div>
	<!-- start of drop down menu -->
	<div style="float:right !important">
		<!-- Single button -->
		<div class="btn-group" uib-dropdown is-open="status.isopen">
			<button id="single-button1" type="button" class="btn btn-info" uib-dropdown-toggle>Choose Account<span class="caret"></span></button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
				<li role="menuitem"ng-click="setRole('GOLD')"><a href="#!/activity">Gold</a></li>
				<li role="menuitem"ng-click="setRole('SILVER')"><a href="#!/activity">Silver</a></li>
				<li role="menuitem" ng-click="setRole('STANDARD')"><a href="#!/activity">Standard</a></li>
			</ul>
		</div>
	</div>
	<!-- end of drop down menu -->
	<div>
		<div class="heroimage">
			<img src="imgs/hero_image.jpg"/>
		</div>
		<div id="FOO" style="height:60px;border: 1px solid #fff">
			<span style="font-size: 30px">Recent Account Activity</span>
			<div style="float:right;margin-top:10px;">
				<button type="button" class="btn btn-info" ng-model="singleModel" btn-checkbox-false="0" ng-click="disputeCharge()">Dispute a charge</button>
            </div>

		</div>
		<div uib-collapse="isCollapsed">
			<div class="well well-lg">
				<div width="600px">
					<h3>Dispute details</h3>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio" value="fraud" ng-model="case_type">I did not make this transaction</label>
				  </div>
				  <div class="radio">
					<label><input type="radio" name="optradio" value="dispute" ng-model="case_type">This amount is incorrect</label>
				</div>				
<!-- 
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="fraud">
                            I didn't make this transaction
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="invalid">
                            This Amount was incorrect
                    </label>
                </div>
 -->
				<button type="button" class="btn btn-primary"  btn-checkbox-false="0" ng-click="submitDispute()">Submit Dispute</button>
			</div>
		</div>
        <!-- BEGIN TABLE -->
        <table width="100%">
            <tr>
                <!-- <th>Id</th> -->
                <th>Status</th>
                <th>Date</th>
                <th>Description</th>
                <th class="thr">Debit</th>
                <th class="thr">Credit</th>
            </tr>
            <tr ng-repeat="item in activity" ng-click="setSelectedRow($index)" ng-class="{'selected':$index == selectedRow}">
				<!-- <td>{{$index}}</td> -->
				<td><img style="height: 20px" ng-src="{{renderStatus(item)}}"></td>
				<!-- <td>{{item.Status}}</td> -->
                <td>{{item.Date}}</td>
                <td>{{item.Description}}</td>
                <td class="thr">{{item.Debit}}</td>
                <td class="thr">{{item.Credit}}</td>
            </tr>
        </table>
        <!-- END TABLE -->
	</div>

</div>